name: app

on:
  push:
    branches:
      - main
    paths:
      - "app/**"
  pull_request:
    paths:
      - "app/**"
  workflow_dispatch:

jobs:
  test:
    name: Test App
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: app/package-lock.json
      - run: npm ci
      - run: npm test -- --coverage --watchAll=false
      - uses: codecov/codecov-action@v3
        with:
          directory: app/coverage
          flags: app
          fail_ci_if_error: false

  deploy:
    name: Deploy App
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: cd app && ./release.sh
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          CF_DISTRIBUTION: ${{ secrets.CF_DISTRIBUTION }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
